* {
    box-sizing: border-box;
}

body {
    background-image: url(..\\img\\tyler-franta-iusJ25iYu1c-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    display: grid;
    grid-template-columns: 1 / 5 span ,3fr, 6fr;
    grid-template-rows: 1fr, 10fr, 1fr, 1fr;

}

/* Topics Section and Topics */

.topics-container {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;

    height: 100%;
    width: 15%;
    float: left;

    position: relative;
    top: 20px;
    left: 15%;

    margin-right: 20px;
    padding: 15px 15px 15px 15px;

    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 6px;
}

.welcome-paragraph {
    font-size: 16px;
    font-weight: 100;
}

/* Articles Section and Posts */

.articles-container {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;

    height: 100%;
    width: 50%;
    
    position: relative;
    top: 20px;
    left: 15%;
}

.post {
    background-color: whitesmoke;
    height: 100%;
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 10px 20px 10px;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
}

.date {
    color: red;
    font-size: 12px;
}

.readmore-button{
    border: none;

    position: relative;
    left: 80%;
    top: 10%;
    
    background-color: whitesmoke;
    color: blue;
    text-shadow: 4px 1px 7px black;
}

.previous-button {
    height: 20vh;
    width: 30vw;
    text-align: center;
    color: blue;
    position: relative;
    left: 12%;
}

.btn btn-outline-success {
    color: blue;
    background-color: blue;
    font-size: 100px;
}

/* footer  */

.footer-paragraph {
    position: relative;
    left: 39%;
    margin-left: 10px;
    margin-top: 10px;
}

footer img {
    position: relative;
    left: 39%;
    margin-top: 10px;
}

footer{
    display: flex;
    flex-direction: row;
    position: static;
    height: 2.8rem;
    background-color: black;
    color: white;
    margin-top: 20px;
}

/* //////////////////////////////////////// */

/* Media Queries for Responsive UI */

@media all and (max-width: 1200px){

    body {
        background-image: url("..\\img\\tyler-franta-iusJ25iYu1c-unsplash.jpg");
        background-repeat: no-repeat;
        background-position: top center;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .post {
        background-color: whitesmoke;
        height: 100%;
        width: 80%;
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px 10px 20px 10px;
        text-decoration: none;
    }
    
    .topics-container {

        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
    
        height: 100%;
        width: 70%;  

        position: relative;
        top: 20px;
        left: 15%;
        float: none;
    
        margin-right: 20px; 
    
        background-color: whitesmoke;
        border: 1px solid black;
        border-radius: 8px;
    }

    .articles-container {
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
    
        height: 100%;
        width: 70%;
        
        position: relative;
        top: 20px;
        left: 15%;
    }

    .previous-button {
        height: 4vh;
        width: 30vw;
        text-align: center;
        color: blue;
        position: relative;
        left: 18%;
    }

    .footer-paragraph {
        position: relative;
        left: 28%;
        margin-left: 10px;
        margin-top: 10px;
    }
    
    footer img {
        position: relative;
        left: 25%;
        margin-top: 10px;
    }
    
}